# Node modules — tidak perlu di-push
node_modules/
package-lock.json

# File konfigurasi rahasia
.env
service-account-key.json
package-lock.json
# Folder dengan data mentah atau output yang tidak perlu di-versi
data/

# Folder hasil build atau konten statis
public/

# Log & cache (jika berlaku)
*.log
.cache/